# Auto-gen'd from IDEs, tools
.cache/
.idea/
.vscode/
.tox/
.mypy_cache/
.pytest_cache/
.pyre/

# Python crumbs
__pycache__/
*.py[cod]
venv/
build-venv/

# Packaging
*.egg-info/
build/
dist/

# Docs crumbs
docs/build/

